@using BlazorMonaco
@using BlazorMonaco.Editor
@inject EditorStateService EditorState

<div class="code-editor-wrapper">
    @if (EditorState.CurrentDataFile != null)
    {
        <StandaloneCodeEditor @ref="_editor"
                              Id="lf2-editor"
                              ConstructionOptions="EditorConstructionOptions"
                              OnDidInit="EditorOnDidInit"
                              OnDidChangeModelContent="OnContentChanged"
                              CssClass="monaco-editor-container" />
    }
    else
    {
        <div class="empty-editor">
            <p>正在載入...</p>
        </div>
    }
</div>

<style>
    .code-editor-wrapper {
        height: 100%;
        width: 100%;
    }

    .monaco-editor-container {
        height: 100%;
        width: 100%;
    }

    .empty-editor {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #999;
    }
</style>
